.page-main {
  .title-area {
    .title-main {
      color: #000;
      font-size: 60px;
      font-weight: 500;
    }
    .title-sub {
      color: #747474;
      font-size: 26px;
      margin-top: 20px;
    }
  }

  .title-in-info {
    .title-main {
      font-size: 40px;
    }
  }
}

.sect {
  width: 100%;
  text-align: center;

  .sect-container {
    width: 100%;
    position: relative;
  }
  .sect-content {
    width: 100%;
    max-width: $baseSectWidthSize;
    margin: 0 auto;
  }
}

.sect-main-intro {
  width: 100%;
  .sect-container {
  }
}

.main-intro-bg {
  position: relative;
  // transform: scaleX(260%);
  width: 100%;
  overflow: hidden;
  * {
    position: relative;
  }
  .bg-img-area {
    .bg-img01 {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      // background-color: #3b0d1f;
      background: url("/img/main/bg_wrap.png") repeat;
      background-size: 8%;
      // filter: invert(0.2);
      opacity: 0.12;
    }
  }
  .bg-video-area {
    min-width: $fixMinWidth;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // height: fit-content;
    // height: toRem(1200);
    left: 50%;

    padding-bottom: 48%;
    transform: translateX(-50%);
    .video-area {
      position: absolute;
      overflow: hidden;
      width: 100%;
      top: 0;
      transform: translateY(-4%);
      .video-crop-area {
        position: relative;
      }
      .bg-video {
        position: relative;
        width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
    .video01 {
      // position: relative;
      .video-crop-area {
      }
    }
    .video02 {
      opacity: 0.3;
      mix-blend-mode: screen;
      // mask-image: url("/img/main/bg_wrap.png");
      // mask-repeat: repeat;
      // mask-size: 12%;
    }
    // .video02 {
    //   opacity: 0.4;
    //   mix-blend-mode: color-burn;
    // }
    // .video02 {
    //   opacity: 0.5;
    //   // filter: contrast(10);
    //   mix-blend-mode: screen;
    // }

    .video03 {
      opacity: 0.9;
      // mix-blend-mode: color-dodge;
      mask-image: url("/img/main/bg_mask.png");
      // background: url("/img/main/bg_mask.png") no-repeat;
      background-position: center center;
      mask-position: center center;
      // mask-repeat: repeat;
      mask-size: 96%;
      .video-crop-area {
        // opacity: 0;
      }
    }
  }
}

.main-intro-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  * {
    position: relative;
  }

  .main-intro-text-area {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    p {
      color: #fff;

      // line-height: 1.5;
      text-shadow: 5px 6px 12px rgba($color: #000, $alpha: 0.6), -5px 6px 12px rgba($color: #000, $alpha: 0.6);
    }
    .title-main {
      p {
        font-size: 82px;
        line-height: 1.2;
      }
    }
    .title-sub {
      margin-top: 30px;
      p {
        font-size: 40px;
        font-weight: 400;
        line-height: 1.3;
      }
    }

    .btn-area {
      margin-top: 70px;
      .btn-connected {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        color: #fff;
        font-size: 42px;
        letter-spacing: -0.1;
        width: 380px;
        height: 90px;
        border-radius: 40px;
        background-color: #5050dd;
        text-shadow: 0 2px 8px rgba($color: #000, $alpha: 0.35);
        box-shadow: 0 3px 12px 0 rgba($color: #000, $alpha: 0.6);
      }
    }
  }
}

.main-advantages-content {
  .main-advantages-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    li {
      background-color: #ddd;
    }
  }
}

.main-road-map-content {
}

.main-partner {
}

@import "./nft_main/nft_main_last";

@media (max-width: $mobileBaseMaxSize) {
}
