@import "base/_reset";
@import "base/_variables";
@import "base/_common";

//
* {
  font-family: "Noto Sans KR", sans-serif; //기본굵기 400
  // font-family: "NanumSquare", sans-serif; //기본굵기 400
  // font-family: "NanumSquareAc", sans-serif; //기본굵기 400
  // font-family: 'NanumSquareAc', sans-serif; //기본굵기 400
  font-weight: 500;
  //일반공식(pohto_va*base_font_size/1000)
  letter-spacing: -0.035em;
  line-height: 1;
}
// a{
//   font-family: 'Noto Sans KR', sans-serif;
// }

body {
  background-color: #ffffff;
}

@media (max-width: $mobileBaseMaxSize) {
  //html{font-size: 62.5%;} //반응형 기준폰트
  //body{font-size: calc(100vw/750);}
  html {
    font-size: calc((100vw / 750) * 10);
  }
  //body{font-size: 62.5%}

  img {
    image-rendering: -webkit-optimize-contrast;
  } //이미지 퀄리티업
}

@import "_header";
@import "_nft_footer";
@import "_nft_main";
// @import "_nft_main_m";
