extends ../template/layout

//-==HTML==
block content
  div(class="active-menu-data" data-active-target-menu="home")
  main(class="wrap-container page-main") 
    section(class="sect sect-main-intro")
      .sect-container
        .main-intro-content
          .main-intro-wrap
            .main-into-bg-video-area
              .video-crop-area
                video(id="target-play-video" class="bg-video" autoplay muted loop)
                  source(src="http://hauto.kr/static/video/bg_digital_wrap.mp4" type="video/mp4")

            //- video(id="target-play-video01" class="bg-video" muted controls)
            //-   source(src="http://hauto.kr/static/video/bg_degital.mp4" type="video/mp4")
            //- video(id="target-play-video02" class="bg-video" muted controls)
            //-   source(src="http://hauto.kr/static/video/bg_degital.mp4" type="video/mp4") 
          .main-intro-bg-area
          .main-intro-text-area
            p 에이치오토
            p 있어빌리티가 난다요!!
            p 이얍이얍 우린 NFT사업한다~  
    section(class="sect sect-cont01")       
      .sect-container
        .cont01-content
          .title-area
            .title-main 어쩌고 저쩌고 타이틀
          ul.cont01-ul.sty-ul01
            li 
              p 타이틀
              div 
                img(src="", alt="이미지")
              div 
                p 어쩌구 저쩌구
                p 어쩌구 저쩌구
                p 어쩌구 저쩌구
            li 콘텐츠 
            li 콘텐츠 
            li 콘텐츠 
          
    section(class="sect sect-cont02")
      .sect-container
        .cont02-content
          .cont02-wrap

            .cont02-bg-video-area
              .video-crop-area
                video(id="target-play-video" class="bg-video" autoplay muted loop)
                  source(src="http://hauto.kr/static/video/bg_digital_wrap02.mp4" type="video/mp4")
            .bg-area
            //- .bg-area02
            .text-area
              .title-area
                .title-main 어쩌고 저쩌고 타이틀
              ul.cont02-ul.sty-ul02
                li
                  .bg-video-box
                    .video-crop-area
                      video(class="bg-video" autoplay muted loop)
                        source(src="http://hauto.kr/static/video/bg_digital_line.mp4" type="video/mp4")
                  .box-cont
                    p 타이틀
                    div 
                      img(src="", alt="이미지")
                    div 
                      p 어쩌구 저쩌구
                      p 어쩌구 저쩌구
                      p 어쩌구 저쩌구
                li
                  .bg-video-box
                    .video-crop-area
                      video(class="bg-video" autoplay muted loop)
                        source(src="http://hauto.kr/static/video/bg_digital_line.mp4" type="video/mp4")
                  .box-cont
                    p 타이틀
                    div 
                      img(src="", alt="이미지")
                    div 
                      p 어쩌구 저쩌구
                      p 어쩌구 저쩌구
                      p 어쩌구 저쩌구
                

                li
                  .bg-video-box
                    .video-crop-area
                      video(class="bg-video" autoplay muted loop)
                        source(src="http://hauto.kr/static/video/bg_digital_line.mp4" type="video/mp4")
                


    section(class="sect sect-cont03")
      .sect-container
        .cont03-content
          .cont03-wrap
            .tex-area
              .title-area
                .title-main 어쩌고 저쩌고 타이틀
            ul.cont03-ul.sty-ul03
              li
                .bg-circle-area
                .box-cont
                  p 타이틀
                  div 
                    img(src="", alt="이미지")
                  div 
                    p 어쩌구 저쩌구
                    p 어쩌구 저쩌구
                    p 어쩌구 저쩌구
              li
                .bg-circle-area
                .box-cont
                  p 타이틀
                  div 
                    img(src="", alt="이미지")
                  div 
                    p 어쩌구 저쩌구
                    p 어쩌구 저쩌구
                    p 어쩌구 저쩌구
              li
                .bg-circle-area
                .box-cont
                  p 타이틀
                  div 
                    img(src="", alt="이미지")
                  div 
                    p 어쩌구 저쩌구
                    p 어쩌구 저쩌구
                    p 어쩌구 저쩌구
              li
                .bg-circle-area
                .box-cont
                  p 타이틀
                  div 
                    img(src="", alt="이미지")
                  div 
                    p 어쩌구 저쩌구
                    p 어쩌구 저쩌구
                    p 어쩌구 저쩌구
              li
                .bg-circle-area
                .box-cont
                  p 타이틀
                  div 
                    img(src="", alt="이미지")
                  div 
                    p 어쩌구 저쩌구
                    p 어쩌구 저쩌구
                    p 어쩌구 저쩌구
              li
                .bg-circle-area
                .box-cont
                  p 타이틀
                  div 
                    img(src="", alt="이미지")
                  div 
                    p 어쩌구 저쩌구
                    p 어쩌구 저쩌구
                    p 어쩌구 저쩌구


    section(class="sect sect-cont04")
      .sect-container
        .cont04-content
          .cont04-wrap
            .cont04-bg-video-area
              .video-crop-area
                video(id="target-play-video" class="bg-video" autoplay muted loop)
                  source(src="http://hauto.kr/static/video/bg_digital_wrap03.mp4" type="video/mp4")
            .bg-area

            .text-area
              .text-box
                p 어쩌구 저쩌구 이러쿵저러쿵

    section(class="sect sect-cont05")
      .sect-container
        .cont05-content
          .cont05-wrap
            .cont05-bg-video-area
              .video-crop-area
                video(id="target-play-video" class="bg-video" autoplay muted loop)
                  source(src="http://hauto.kr/static/video/bg_aurora.mp4" type="video/mp4")
            .bg-area
            .bg-area02
              .img-area
                img(src=`${imgPath}/main/bg_cube02.png`, alt="이미지")
            .text-area
              .text-box 
                p 에이치오토~
                p 멋있는 에이치오토
                p 위대한 이상! 위대한 산업~!


                

  script(src=`${basePath}/static/js/main_video_autoplay.js`)


  