
header.header.header-pos-absolute
  div.header-container
    .logo-area
      .top-logo
        a(href=`${basePath}index.html`)
          img(src=`${imgPath}/common/top_logo.png`, alt="로고")
      //- button(class="btn-hamburger pc-hidden fn-open-side-menu")
      //-   img(src=`${imgPath}/common/btn_hamburger.png`, alt="햄버거 버튼")

    nav.top-menu-content
      ul.top-menu-ul
          ul.top-sub-menu-ul
            li: a(href=`${basePath}index.html`)



    div
      button 테스트



